body{
    background-color: rgb(226, 250, 246);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

.container{
    display: flex;
    flex-direction: column;
}
.fields{
    border-radius: 5px;
    background-color: rgb(198, 255, 255);
    width: 50%;
    margin: 5px;
}
#submit{
    display: flex;
    justify-content: center;
}
#title{
    display: flex;
    justify-content: center;
}
.button{
    margin: 5px;
    background-color: aqua;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}